/*
HTML RESET
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

/*
MAIN
*/

#body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#header {
  padding: 20px;
  background-color: #f6f6f8;
}

.todayicon {
  width: 16rem;
}
.todaytemp {
  font-size: 8rem;
}

.todaydesc {
  font-size: 3rem;
}

.forecast {
  display: flex;
  gap: 10px;
}

.forecast div {
  background-color: #f6f6f8;
}

.day {
  display: flex;
  flex-direction: column;
}

.temps {
  display: flex;
  gap: 5px;
}
